# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Java compiled files
*.class

# IntelliJ build output
out/

# IntelliJ settings
.idea/

# Maven
target/

# Gradle
.gradle/
build/

# macOS
.DS_Store